<span class="unb-forum-bubble"
      style="
        --forum-light-bg: <%= smallBubble.colors.light.bg %>;
        --forum-light-text: <%= smallBubble.colors.light.text %>;
        --forum-light-text-hover: <%= smallBubble.colors.hover.light.text %>;
        --forum-light-bg-hover: <%= smallBubble.colors.hover.light.background %>;
        --forum-dark-bg: <%= smallBubble.colors.dark.bg %>;
        --forum-dark-bg-hover: <%= smallBubble.colors.hover.dark.background %>;
        --forum-dark-text: <%= smallBubble.colors.dark.text %>;
        --forum-dark-text-hover: <%= smallBubble.colors.hover.dark.text %>;
      ">
    <a href="<%= smallBubble.url %>">
        <i class="<%= smallBubble.icon %>"></i>
        <%= smallBubble.title %>
    </a>
</span>